<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Star Treck</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="css/header.css">
    <link rel="stylesheet" href="css/index.css">
   
</head>
<body>
    <header class="">
        <nav class="container navbar navbar-expand-lg navbar-light my_for_navbar">
            <a class="navbar-brand" href="http://localhost:3005/#" ><img src="assets/TEC_new_logo.avif" style="width: 70px;" alt="logo"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                <li class="main nav-item ">
                    {{!-- <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a> --}}
                    <a class="nav-link" href="http://localhost:3001/">SHOP</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/sect?type=popular">Popular</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/sect?type=tea_and_honey">Tea and honey</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/sect?type=merch">Merch</a>
                </li>
                <li class="nav-item">
                     <a class="nav-link" style="color:red; font-weight: 500; font-size: large;" href="/admin">Admin</a>
                </li>
                </ul>
                <a class="navbar-brand" href="#"><img src="assets/" alt=""></a>
                <a class="navbar-brand" href="#"><img src="assets/" alt=""></a>
            </div>
        </nav>
        <hr>
        
    </header>

    <main>
        
        {{#if what_is_ch.popular}}
        <section class="container">
            <h2>Popular</h2>
            <div class="row row-cols-1 row-cols-3 cont_for_item">
                {{#each popular}}
                <a href="/item?type={{this.type}}&id={{@index}}">
                    <div class="col card">
                        <img src="{{this.img}}" class="card-img-top" alt="Изображение {{this.name}}">
                        <div class="card-body">
                            <h5 class="card-title">{{this.name}}</h5>
                            <p class="">{{this.price}}</p>   
                        </div>
                    </div>
                </a>
                {{/each}}
            </div>
        </section>
        {{/if}}
        {{#if what_is_ch.tea_and_honey}}
        <section class="container">
            <h2>Tea and honey</h2>
            <div class="row row-cols-1 row-cols-4 cont_for_item">
                {{#each tea_and_honey}}
                <a href="/item?type={{this.type}}&id={{@index}}">
                    <div class="col card">
                        <img src="{{this.img}}" class="card-img-top" alt="Изображение {{this.name}}">
                        <div class="card-body">
                            <h5 class="card-title">{{this.name}}</h5>
                            <p class="">{{this.price}}</p>   
                        </div>
                    </div>
                </a>
                {{/each}}
            </div>
        </section>
        {{/if}}
    </main>

    <footer>

    </footer>
</body>
</html>