<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Star Treck</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="css/header.css">
    <link rel="stylesheet" href="css/item.css">
    <script src="JS/item.js" defer></script>
    <!-- <meta http-equiv="refresh" content="5"> -->
</head>
<body>
    <header>
        <nav class="container navbar navbar-expand-lg navbar-light my_for_navbar">
            <a class="navbar-brand" href="http://localhost:3005/#" ><img src="assets/TEC_new_logo.avif" style="width: 80px;" alt="logo"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                <li class="main nav-item ">
                    {{!-- <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a> --}}
                    <a class="nav-link" href="http://localhost:3005">SHOP</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Subscriptions</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Pantry</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Merch</a>
                </li>
                <li class="nav-item">
                     <a class="nav-link" style="color:red; font-weight: 500; font-size: large;" href="/admin">Admin</a>
                </li>
                </ul>
                <a class="navbar-brand" href="#"><img src="assets/" alt=""></a>
                <a class="navbar-brand" href="#"><img src="assets/" alt=""></a>
            </div>
        </nav>
        <hr>
        
    </header>

    <main>
        <section class="sidebar hidden">
            
            <h5 class="continue_shopping"> Continue shopping</h5>
            <hr style="margin:0px 0px 25px 0px;">
            <div classs="row">
                <div class="col" style="font-weight: 500; font-size: 24px;">Your Order</div>
            </div>
            <div class="row">
                <div class="col" style="font-weight: 450; font-size: 20px">Subtotal:</div>
                <div class="col" style="font-weight: 650; font-size: 25px; text-align:end;">{{item1.price}}</div>
            </div>
            <div class="col">
                <div class="row" style="margin-bottom:5px;"><button class="in_cart"><a href="/buying">Go to card</a></button></a></div>
                <div class="row"><button class="in_cart continue_shopping_in_card">Continue Shopping</button></div>
            </div>
            <hr style="margin:25px 0px 15px 0px;">
            {{!-- <div classs="row row-cols-2" style="display:flex; margin:0px 0px 15px 0px;">
                <div class="col" style="font-weight: 600; font-size: 26px;">Products</div>
                <div class="col open_close"><button class="btn_opem_close"> ▼ </button></div> 
                
            </div> --}}
            {{!-- <div class="col" id="sp_p_in_soplist">
                {{#each purchases}}
                <div class="card">
                    <div class="row" style="padding: 5px">
                        <img class="col card-img-top" src="{{this.img}}" alt="">
                    </div>
                    <div class="col card-body">
                        <h5 class="card-title">{{this.name}}</h5>
                        <p class="card-text">{{this.price}}</p>
                        <a href="#" class="in_cart">Go somewhere</a>
                    </div>
                </div>
                {{/each}}
            </div> --}}
            
        </section>

        <div class="container">
            <div class=" row row-cols-md-2 g-2% os">
                <div class="col" style="flex-basis:60%">
                    <img src={{item1.img}} alt="" class="images">
                </div>
                <div class="col" style="flex-basis:30%; margin-top: 40px" >
                    <div class="row">
                        <div class="col"><a href="" class="no_see">The Ecology Senter</a></div>
                        <div class="col"><a href="" class="no_see">Harvest Box</a></div>
                    </div>
                    <h2 style="margin:20px 0px">{{item1.name}}</h2>
                    <p style="margin:20px 0px">{{item1.price}}</p>
                    {{!-- <form action="/buying" method="post">

                        <a href="#" onclick="parentNode.submit();">
                            <button id="ad_re_to_card" class="to_cart" style="margin:20px 0px">ADD TO CART</button>
                        </a>
                        <input type="hidden" name="id" class="row form-control name" placeholder="id" value="{{id}}">
                        <input type="hidden" name="type" class="row form-control name" placeholder="type" value="{{type}}">
                    </form> --}}
                    <button id="ad_re_to_card" class="to_cart" style="margin:20px 0px">ADD TO CART</button>
                    
                    <hr class="hr2" style="margin:20px 0px">
                    <div>
                        <p style="font-weight: 700;">{{item1.1full_description}}</p>
                        <p style="font-weight: 400;">{{item1.2full_description}}</p>
                    </div>
                </div>
                
            </div>
        
            <hr style="margin-top: 20px;">
            <h4>Another items</h4>
            <div class="row row-cols-lg-6 row-cols-3 cont_for_item" >
                {{#each another}}
                <a href="/item?i={{this.type}}&id={{@index}}">
                    <div class="col card" >
                        <img src="{{this.img}}" class="card-img-top" alt="Изображение {{this.name}}">
                        <div class="card-body">
                            <h5 class="card-title">{{this.name}}</h5>
                            <p class="">{{this.price}}</p>   
                        </div>
                    </div>
                </a>
                {{/each}}
            </div>
       
            <hr style="margin-top:15px;">
            <h4>Отзывы</h4>
            <div class="container"> 
                
                <form action="/item" method="post">
                    <b>Написать свой отзыв</b>
                    <div class="card-body">
                        
                        <div class="row npk">
                            <div class="col">
                                <input type="hidden" name="id" class="row form-control name" placeholder="id" value="{{id}}">
                                <input type="hidden" name="type" class="row form-control name" placeholder="type" value="{{type}}">
                                <input type="hidden" name="TF" class="row form-control name" placeholder="type" value="1">
                                <input type="text" name="name" class="row form-control name" placeholder="Ваше имя">
                                <input type="adress" name="adress" class="row form-control name" placeholder="Ваша почта">
                                
                                <input type="number" id="numer_stars" name="number" class="row form-control name" placeholder="Уровень качества" min="0" max="5">
                                <p class="row name" style="font-size: 30px;" id="stars">☆☆☆☆☆</p>
                            </div>
                            <div class="col">
                                <textarea name="content" type="text" class="form-control" rows="5"></textarea>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary">Добавить</button>
                    </div>
                </form>
                <div class="reviews">
                    {{#each item1.comments}}
                    <div class="card mb-3">
                        <div class="card-body">
                            <h5 class="card-title">
                                <div class="col">Имя: {{this.name}}</div>
                                
                            </h5>
                            <p class="row" style="font-size: 30px;" id="stars_in_com">    
                                {{this.number}} Звёзд ★
                            </p>
                            
                            <p class="card-text">Отзыв: {{this.content}}</p>
                        </div>
                    </div>  
                    {{/each}}        
                </div>
            </div>
        </div>
    </main>

    <footer>

    </footer>
</body>
</html>